{% load static %}
<html>
    <head>
        <title>Django Girls blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link rel="stylesheet" href="{% static 'css/roadmap.css' %}">
    </head>
    <body>
        <header>
			<!--
            <a href="{% url 'post_new' %}" class="top-menu">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
			-->
            <h1>My DevOps Blog - Gabriella Esteves</h1>
            <a href="/">Roadmap</a>
        </header>

        <div class="content container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>

        
        <footer>
            <div class="social-media">
                <a href="https://gitlab.com/users/gabepk.ape/projects" target="_blank">
                    <img style="height: 20px" src="{% static 'img/gitlab.svg' %}" alt="Gitlab">
                </a>
                <a href="https://github.com/gabepk" target="_blank">
                    <img style="height: 20px" src="{% static 'img/github.png' %}" alt="Github">
                </a>
                <a href="https://www.linkedin.com/in/gabriella-esteves-43512577/" target="_blank">
                    <img style="height: 20px" src="{% static 'img/linkedin.png' %}" alt="Linkedin">
                </a>
            </div>
            <br />
            The roadmap was based on the original
            <a href="https://github.com/kamranahmedse/developer-roadmap/blob/master/images/devops.png" target="_blank">DevOps Roadmap</a>
            , from <a href="https://twitter.com/kamranahmedse" target="_blank">Kamran Ahmed</a>.
        </footer>
    </body>
</html>