{% extends 'blog/base.html' %}
{% load staticfiles %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/roadmap.css' %}">
{% if user.is_authenticated %}
<link rel="stylesheet" href="{% static 'css/roadmap_admin.css' %}">
{% endif %}
{% endblock %}

{% block content %}
<div id="roadmap">
    <div class="section">
        <div class="main block">
            <div class="number"><span>1</span></div>
            <span>Learn a Programming Language</span>
        </div>
        <div class="flex-horizontal">
            <div class="left">
                <div id="java" class="side block high">
                    <a><span class="item">Java</span></a>
                    <div></div>
                </div>
                <div id="javascript" class="side block high">
                    <a><span class="item">JavaScript</span></a>
                    <div></div>
                </div>
            </div>
            <div class="right">
                <div id="python" class="side block low">
                    <a><span class="item">Python</span></a>
                    <div></div>
                </div>
                <div id="go" class="side block low">
                    <a><span class="item">Go</span></a>
                    <div></div>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="main block">
            <div class="number"><span>2</span></div>
            Understand different OS Concepts
        </div>
        <div class="flex-horizontal">
            <div class="left">
                <div id="process-management" class="side block high">
                    <a><span class="item">Process Management</span></a>
                    <div></div>
                    <!-- systemctl on Linux and Windows Porcesses-->
                </div>
                <div id="threads-and-concurrency" class="side block medium">
                    <a><span class="item">Threads and Concurrency</span></a>
                    <div></div>
                    <!-- JS: sync and async processes -->
                </div>
                <div id="posix-basics" class="side block medium">
                    <a><span class="item">POSIX Basics</span></a>
                    <div></div>
                </div>
                <div id="networking-concepts" class="side block medium">
                    <a><span class="item">Networking Concepts</span></a>
                    <div></div>
                </div>
                <div id="startu-management" class="side block medium">
                    <a><span class="item">Startu Management (initd)</span></a>
                    <div></div>
                </div>
                <div id="service-management" class="side block medium">
                    <a><span class="item">Service Management (systemd)</span></a>
                    <div></div>
                </div>
            </div>
            <div class="right">
                <div id="i-o-management" class="side block high">
                    <a><span class="item">I/O Management</span></a>
                    <div></div>
                    <!-- Java: (In/Out)putStream -->
                </div>
                <div id="sockets" class="side block medium">
                    <a><span class="item">Sockets</span></a>
                    <div></div>
                    <!-- Communication endpointbetween app and transport layer -->
                </div>
                <div id="virtualization" class="side block medium">
                    <a><span class="item">Virtualization</span></a>
                    <div></div>
                    <!-- Concepts -->
                </div>
                <div id="memory-storage" class="side block low">
                    <a><span class="item">Memory/Storage</span></a>
                    <div></div>
                </div>
                <div id="file-system" class="side block low">
                    <a><span class="item">File System</span></a>
                    <div></div>
                    <!-- Windows vs. Linux -->
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="main block">
            <div class="number"><span>3</span></div>
            <div>
                Learn about Managins Servers
                <br />
                <small>
                    Get some administration in some OS. Especially
                    any Linux distribution. Pick Ubuntu if you have
                    a little to no experience with Linux.
                </small>
            </div>
        </div>
        <div class="flex-horizontal">
            <div class="left">
                <div class="flex-vertical">
                    <span>OS</span>
                    <div id="unix" class="side block high">
                        <a><span class="item">Unix</span></a>
                        <div></div>
                    </div>
                    <div id="linux" class="side block high">
                        <a><span class="item">Linux</span></a>
                        <div></div>
                    </div>
                    <div id="windows" class="side block high">
                        <a><span class="item">Windows</span></a>
                        <div></div>
                    </div>
                </div>
            </div>
            <div class="right">
                <div id="vim-powershell" class="side block high">
                    <a><span class="item">Vim / PowerShell</span></a>
                    <div></div>
                </div>
                <div id="tmux" class="side block medium">
                    <a><span class="item">Tmux</span></a>
                    <div></div>
                </div>
                <div id="compiling-from-source" class="side block medium">
                    <a><span class="item">Compiling from source <br /><small>gcc, make, mvn, etc</small></span></a>
                    <div></div>
                </div>
            </div>
        </div>
        <div class="flex-horizontal">
            <div class="flex-vertical">
                <span>Learn Bash Scripting</span>
                <div class="flex-horizontal">
                    <div id="text-manipulation-tools" class="side block medium">
                        <a><span class="item">Text Manipulation tools <br /><small>awk, sed, grep, sort, uniq, fmt, tr</small></span></a>
                        <div></div>
                    </div>
                    <div id="process-monitoring" class="side block medium">
                        <a><span class="item">Process Monitoring <br /><small>ps, atop, lsof, top, htop</small></span></a>
                        <div></div>
                    </div>
                </div>
                <div class="flex-horizontal">
                    <div id="system-performance" class="side block medium">
                        <a><span class="item">System Performance <br /><small>nmon, iostat, sar, vmstat</small></span></a>
                        <div></div>
                    </div>
                    <div id="others" class="side block medium">
                        <a><span class="item">Others <br /><small> strace, dtrace, systemtap, uname, df, history</small></span></a>
                        <div></div>
                    </div>
                </div>
                <div class="flex-horizontal">
                    <div id="network" class="side block medium">
                        <a><span class="item">Network <br /><small>nmap, tcpdump, mtr, ping, traceroute, airmon, airodump, dig, iptables</small></span></a>
                        <div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="main block">
            <div class="number"><span>4</span></div>
            Networking and Security
        </div>
        <div class="flex-horizontal">
            <div class="left">
                <div id="ssh" class="side block high">
                    <a><span class="item">SSH</span></a>
                    <div></div>
                </div>
                <div id="ssl-tls" class="side block high">
                    <a><span class="item">SSL/TLS</span></a>
                    <div></div>
                </div>
                <div id="port-forwaring" class="side block medium">
                    <a><span class="item">Port Forwarding</span></a>
                    <div></div>
                </div>
            </div>
            <div class="right">
                <div id="http" class="side block high">
                    <a><span class="item">HTTP</span></a>
                    <div></div>
                </div>
                <div id="https" class="side block high">
                    <a><span class="item">HTTPS</span></a>
                    <div></div>
                </div>
                <div id="ftp" class="side block low">
                    <a><span class="item">FTP</span></a>
                    <div></div>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="main block">
            <div class="number"><span>5</span></div>
            What is and how to setup a ________
        </div>
        <div class="flex-horizontal">
            <div class="left">
                <div id="reverse-proxy" class="side block high">
                    <a><span class="item">Reverse Proxy</span></a>
                    <div></div>
                </div>
                <div id="forward-proxy" class="side block high">
                    <a><span class="item">Forward Proxy</span></a>
                    <div></div>
                </div>
                <div id="caching-server" class="side block high">
                    <a><span class="item">Caching Server</span></a>
                    <div></div>
                </div>
                <div id="load-balancer" class="side block high">
                    <a><span class="item">Load Balancer</span></a>
                    <div></div>
                </div>
                <div id="firewall" class="side block high">
                    <a><span class="item">Firewall</span></a>
                    <div></div>
                </div>
            </div>
            <div class="right flex-vertical">
                <span>Web Server</span>
                <div class="flex-horizontal">
                    <div id="nginx" class="side block medium">
                        <a><span class="item">Nginx</span></a>
                        <div></div>
                    </div>
                    <div id="apache" class="side block medium">
                        <a><span class="item">Apache</span></a>
                        <div></div>
                    </div>
                </div>
                <div class="flex-horizontal">
                    <div id="istio" class="side block low">
                        <a><span class="item">Istio</span></a>
                        <div></div>
                    </div>
                    <div id="consul" class="side block low">
                        <a><span class="item">Consul</span></a>
                        <div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="main block">
            <div class="number"><span>6</span></div>
            Learn Infrastructure as Code
        </div>
        <div class="flex-horizontal">
            <div class="left">
                <div class="flex-vertical">
                    <span>Containers</span>
                    <div class="flex-horizontal">
                        <div id="docker" class="side block medium">
                            <a><span class="item">Docker</span></a>
                            <div></div>
                        </div>
                        <div id="rkt" class="side block low">
                            <a><span class="item">rkt</span></a>
                            <div></div>
                        </div>
                    </div>
                    <div class="flex-horizontal">
                        <div id="lxc" class="side block low">
                            <a><span class="item">LXC</span></a>
                            <div></div>
                        </div>
                    </div>
                </div>
                <div class="flex-vertical">
                    <span>Container Orchestration</span>
                    <div class="flex-horizontal">
                        <div id="kubernetes" class="side block low">
                            <a><span class="item">Kubernetes</span></a>
                            <div></div>
                        </div>
                        <div id="mesos" class="side block low">
                            <a><span class="item">Mesos</span></a>
                            <div></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right">
                <div class="flex-vertical">
                    <span>Configuration Management</span>
                    <div class="flex-horizontal">
                        <div id="ansiable" class="side block medium">
                            <a><span class="item">Ansiable</span></a>
                            <div></div>
                        </div>
                        <div id="puppet" class="side block low">
                            <a><span class="item">Puppet</span></a>
                            <div></div>
                        </div>
                    </div>
                </div>
                <div class="flex-vertical">
                    <span>Infrastructure Provisioning</span>
                    <div class="flex-horizontal">
                        <div id="terraform" class="side block medium">
                            <a><span class="item">Terraform</span></a>
                            <div></div>
                        </div>
                        <div id="could-formation" class="side block low">
                            <a><span class="item">Could Formation</span></a>
                            <div></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="main block">
            <div class="number"><span>7</span></div>
            Learn some CI/DI Tools
        </div>
        <div class="flex-horizontal">
            <div class="left">
                <div id="github-actions" class="side block low">
                    <a><span class="item">Github Actions</span></a>
                    <div></div>
                </div>
            </div>
            <div class="right">
                <div id="codepipeline" class="side block high">
                    <a><span class="item">CodePipeline</span></a>
                    <div></div>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="main block">
            <div class="number"><span>8</span></div>
            Learn how to monitor software and infrastructure
        </div>
        <div class="flex-horizontal">
            <div class="left">
                <div class="flex-vertical">
                    <span>Logs Management</span>
                    <div class="flex-horizontal">
                        <div id="elastic-stack" class="side block low">
                            <a><span class="item">Elastic Stack</span></a>
                            <div></div>
                        </div>
                        <div id="splunk" class="side block low">
                            <a><span class="item">Splunk</span></a>
                            <div></div>
                        </div>
                    </div>
                </div>
                <div class="flex-vertical">
                    <span>Application Monitoring</span></a>
                    <div></div>
                    <div class="flex-horizontal">
                        <div id="jaeger" class="side block low">
                            <a><span class="item">Jaeger</span></a>
                            <div></div>
                        </div>
                        <div id="new-relic" class="side block low">
                            <a><span class="item">New Relic</span></a>
                            <div></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right flex-vertical">
                <span>Infrastructure Monitoring</span>
                <div class="flex-horizontal">
                    <div id="prometheus" class="side block low">
                        <a><span class="item">Prometheus</span></a>
                        <div></div>
                    </div>
                    <div id="grafana" class="side block low">
                        <a><span class="item">Grafana</span></a>
                        <div></div>
                    </div>
                </div>
                <div class="flex-horizontal">
                    <div id="cloudwatch" class="side block low">
                        <a><span class="item">CloudWatch</span></a>
                        <div></div>
                    </div>
                    <div id="zabbix" class="side block high">
                        <a><span class="item">Zabbix</span></a>
                        <div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="main block">
            <div class="number"><span>9</span></div>
            Cloud Providers
        </div>
        <div class="flex-horizontal">
            <div class="left">
                <div id="heroku" class="side block high">
                    <a><span class="item">Heroku</span></a>
                    <div></div>
                </div>
            </div>
            <div class="right">
                <div id="digital-ocean" class="side block low">
                    <a><span class="item">Digital Ocean</span></a>
                    <div></div>
                </div>
                <div id="aws" class="side block low">
                    <a><span class="item">AWS</span></a>
                    <div></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="posts" style="display:none">
    {% for post in posts %}
    <div>
        <p id="slug">{{post.slug}}</p>
        <p id="color">{{post.knowledge_level.color}}</p>
    </div>
    {% endfor %}
</div>

<script type="module" src="{% static 'js/script.js' %}"></script>
{% if user.is_authenticated %}
<script type="module" src="{% static 'js/admin_actions.js' %}"></script>
{% else %}
<script type="module" src="{% static 'js/actions.js' %}"></script>
{% endif %}
{% endblock %}