{% extends 'blog/base.html' %}
{% load staticfiles %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/roadmap.css' %}">
{% if user.is_authenticated %}
<link rel="stylesheet" href="{% static 'css/roadmap_admin.css' %}">
{% endif %}
{% endblock %}

{% block content %}
<div id="roadmap">
    <div class="knowledge-level">
        <div style="">
            <small class="high"><span class="item">I know that</span></small>
            <small class="medium"><span class="item">I think I know a little</span></small>
            <small class="low"><span class="item">I don't know that</span></small>
        </div>
        <p>Knowledge Level:</p>
    </div>

    <div class="section">
        <div class="main block">
            <div class="number"><span>1</span></div>
            <span>Learn a programming language</span>
        </div>
        <div class="flex-horizontal">
            <div class="left">
                <div id="java" class="side block high">
                    <a><span class="item">java</span></a>
                    <div></div>
                </div>
                <div id="javascript" class="side block high">
                    <a><span class="item">javaScript</span></a>
                    <div></div>
                </div>
            </div>
            <div class="right">
                <div id="python" class="side block low">
                    <a><span class="item">python</span></a>
                    <div></div>
                </div>
                <div id="go" class="side block low">
                    <a><span class="item">go</span></a>
                    <div></div>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="main block">
            <div class="number"><span>2</span></div>
            Understand different OS Concepts
        </div>
        <div class="flex-horizontal">
            <div class="left">
                <div id="process-management" class="side block high">
                    <a><span class="item">process management</span></a>
                    <div></div>
                    <!-- systemctl on Linux and Windows Porcesses-->
                </div>
                <div id="threads-and-concurrency" class="side block medium">
                    <a><span class="item">threads and concurrency</span></a>
                    <div></div>
                    <!-- JS: sync and async processes -->
                </div>
                <div id="posix-basics" class="side block medium">
                    <a><span class="item">posix Basics</span></a>
                    <div></div>
                </div>
                <div id="networking-concepts" class="side block medium">
                    <a><span class="item">Networking Concepts</span></a>
                    <div></div>
                </div>
                <div id="startu-management" class="side block medium">
                    <a><span class="item">startup management (initd)</span></a>
                    <div></div>
                </div>
                <div id="service-management" class="side block medium">
                    <a><span class="item">service management (systemd)</span></a>
                    <div></div>
                </div>
            </div>
            <div class="right">
                <div id="i-o-management" class="side block high">
                    <a><span class="item">i/o management</span></a>
                    <div></div>
                    <!-- Java: (In/Out)putStream -->
                </div>
                <div id="sockets" class="side block medium">
                    <a><span class="item">sockets</span></a>
                    <div></div>
                    <!-- Communication endpointbetween app and transport layer -->
                </div>
                <div id="virtualization" class="side block medium">
                    <a><span class="item">virtualization</span></a>
                    <div></div>
                    <!-- Concepts -->
                </div>
                <div id="memory-storage" class="side block low">
                    <a><span class="item">memory / storage</span></a>
                    <div></div>
                </div>
                <div id="file-system" class="side block low">
                    <a><span class="item">file system</span></a>
                    <div></div>
                    <!-- Windows vs. Linux -->
                </div>
                <div id="iam" class="side block low">
                    <a><span class="item">
                            iam
                            <img src="{% static 'img/amazon-icon-1.svg' %}" alt="Amazon Logo">
                        </span></a>
                    <div></div>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="main block">
            <div class="number"><span>3</span></div>
            <div>
                Learn about Managins Servers
                <br />
                <small>
                    get some administration in some OS. Especially
                    any Linux distribution. Pick Ubuntu if you have
                    a little to no experience with Linux.
                </small>
            </div>
        </div>
        <div class="flex-horizontal">
            <div class="left">
                <div class="flex-vertical">
                    <span>os</span>
                    <div id="unix" class="side block high">
                        <a><span class="item">unix</span></a>
                        <div></div>
                    </div>
                    <div id="linux" class="side block high">
                        <a><span class="item">linux</span></a>
                        <div></div>
                    </div>
                    <div id="windows" class="side block high">
                        <a><span class="item">windows</span></a>
                        <div></div>
                    </div>
                </div>
            </div>
            <div class="right">
                <div id="vim-powershell" class="side block high">
                    <a><span class="item">vim / powerShell</span></a>
                    <div></div>
                </div>
                <div id="tmux" class="side block medium">
                    <a><span class="item">tmux</span></a>
                    <div></div>
                </div>
                <div id="compiling-from-source" class="side block medium">
                    <a><span class="item">compiling from source <br /><small>gcc, make, mvn, etc</small></span></a>
                    <div></div>
                </div>
            </div>
        </div>
        <div class="flex-horizontal">
            <div class="flex-vertical">
                <span>Learn bash scripting</span>
                <div class="flex-horizontal">
                    <div id="text-manipulation-tools" class="side block medium">
                        <a><span class="item">text manipulation tools <br /><small>awk, sed, grep, sort, uniq, fmt, tr</small></span></a>
                        <div></div>
                    </div>
                    <div id="process-monitoring" class="side block medium">
                        <a><span class="item">process monitoring <br /><small>ps, atop, lsof, top, htop</small></span></a>
                        <div></div>
                    </div>
                </div>
                <div class="flex-horizontal">
                    <div id="system-performance" class="side block medium">
                        <a><span class="item">system performance <br /><small>nmon, iostat, sar, vmstat</small></span></a>
                        <div></div>
                    </div>
                    <div id="others" class="side block medium">
                        <a><span class="item">others <br /><small> strace, dtrace, systemtap, uname, df, history</small></span></a>
                        <div></div>
                    </div>
                </div>
                <div class="flex-horizontal">
                    <div id="network" class="side block medium">
                        <a><span class="item">network <br /><small>nmap, tcpdump, mtr, ping, traceroute, airmon, airodump, dig, iptables</small></span></a>
                        <div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="main block">
            <div class="number"><span>4</span></div>
            Networking and Security
        </div>
        <div class="flex-horizontal">
            <div class="left">
                <div id="ssh" class="side block high">
                    <a><span class="item">ssh</span></a>
                    <div></div>
                </div>
                <div id="ssl-tls" class="side block high">
                    <a><span class="item">ssl / tsl</span></a>
                    <div></div>
                </div>
                <div id="port-forwaring" class="side block medium">
                    <a><span class="item">port forwarding</span></a>
                    <div></div>
                </div>
            </div>
            <div class="right">
                <div id="http" class="side block high">
                    <a><span class="item">http</span></a>
                    <div></div>
                </div>
                <div id="https" class="side block high">
                    <a><span class="item">https</span></a>
                    <div></div>
                </div>
                <div id="ftp" class="side block low">
                    <a><span class="item">ftp</span></a>
                    <div></div>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="main block">
            <div class="number"><span>5</span></div>
            What is and how to setup a ________
        </div>
        <div class="flex-horizontal">
            <div class="left">
                <div id="reverse-proxy" class="side block high">
                    <a><span class="item">reverse proxy</span></a>
                    <div></div>
                </div>
                <div id="forward-proxy" class="side block high">
                    <a><span class="item">forward proxy</span></a>
                    <div></div>
                </div>
                <div id="caching-server" class="side block high">
                    <a><span class="item">caching server</span></a>
                    <div></div>
                </div>
                <div id="load-balancer" class="side block high">
                    <a><span class="item">load balancer</span></a>
                    <div></div>
                </div>
                <div id="firewall" class="side block high">
                    <a><span class="item">firewall</span></a>
                    <div></div>
                </div>
            </div>
            <div class="right flex-vertical">
                <span>Web server</span>
                <div class="flex-horizontal">
                    <div id="nginx" class="side block medium">
                        <a><span class="item">nginx</span></a>
                        <div></div>
                    </div>
                    <div id="apache" class="side block medium">
                        <a><span class="item">apache</span></a>
                        <div></div>
                    </div>
                </div>
                <div class="flex-horizontal">
                    <div id="istio" class="side block low">
                        <a><span class="item">istio</span></a>
                        <div></div>
                    </div>
                    <div id="consul" class="side block low">
                        <a><span class="item">consul</span></a>
                        <div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="main block">
            <div class="number"><span>6</span></div>
            Learn infrastructure as code
        </div>
        <div class="flex-horizontal">
            <div class="left">
                <div class="flex-vertical">
                    <span>Containers</span>
                    <div class="flex-horizontal">
                        <div id="docker" class="side block medium">
                            <a><span class="item">docker</span></a>
                            <div></div>
                        </div>
                        <div id="rkt" class="side block low">
                            <a><span class="item">rkt</span></a>
                            <div></div>
                        </div>
                    </div>
                    <div class="flex-horizontal">
                        <div id="lxc" class="side block low">
                            <a><span class="item">lxc</span></a>
                            <div></div>
                        </div>
                    </div>
                </div>
                <div class="flex-vertical">
                    <span>Configuration Management</span>
                    <div class="flex-horizontal">
                        <div id="ansiable" class="side block medium">
                            <a><span class="item">ansiable</span></a>
                            <div></div>
                        </div>
                        <div id="puppet" class="side block low">
                            <a><span class="item">puppet</span></a>
                            <div></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right">
                <div class="flex-vertical">
                    <span>Container Orchestration</span>
                    <div class="flex-horizontal">
                        <div id="kubernetes" class="side block low">
                            <a><span class="item">kubernetes</span></a>
                            <div></div>
                        </div>
                        <div id="mesos" class="side block low">
                            <a><span class="item">mesos</span></a>
                            <div></div>
                        </div>
                        <div id="ecs" class="side block low">
                            <a><span class="item">
                                    ecs
                                    <img src="{% static 'img/amazon-icon-1.svg' %}" alt="Amazon Logo">
                                </span></a>
                            <div></div>
                        </div>
                    </div>
                </div>
                <div class="flex-vertical">
                    <span>Infrastructure Provisioning</span>
                    <div class="flex-horizontal">
                        <div id="terraform" class="side block medium">
                            <a><span class="item">terraform</span></a>
                            <div></div>
                        </div>
                        <div id="could-formation" class="side block low">
                            <a><span class="item">could formation</span></a>
                            <div></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="main block">
            <div class="number"><span>7</span></div>
            Learn some ci / di tools
        </div>
        <div class="flex-horizontal">
            <div class="left">
                <div id="github-actions" class="side block low">
                    <a><span class="item">github actions</span></a>
                    <div></div>
                </div>
            </div>
            <div class="right">
                <div id="codepipeline" class="side block high">
                    <a><span class="item">
                            code pipeline
                            <img src="{% static 'img/amazon-icon-1.svg' %}" alt="Amazon Logo">
                        </span></a>
                    <div></div>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="main block">
            <div class="number"><span>8</span></div>
            Learn how to monitor software and infrastructure
        </div>
        <div class="flex-horizontal">
            <div class="left">
                <div class="flex-vertical">
                    <span>Logs Management</span>
                    <div class="flex-horizontal">
                        <div id="elastic-stack" class="side block low">
                            <a><span class="item">elastic stack</span></a>
                            <div></div>
                        </div>
                        <div id="splunk" class="side block low">
                            <a><span class="item">splunk</span></a>
                            <div></div>
                        </div>
                    </div>
                </div>
                <div class="flex-vertical">
                    <span>Application Monitoring</span></a>
                    <div></div>
                    <div class="flex-horizontal">
                        <div id="jaeger" class="side block low">
                            <a><span class="item">jaeger</span></a>
                            <div></div>
                        </div>
                        <div id="new-relic" class="side block low">
                            <a><span class="item">new relic</span></a>
                            <div></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right flex-vertical">
                <span>Infrastructure Monitoring</span>
                <div class="flex-horizontal">
                    <div id="prometheus" class="side block low">
                        <a><span class="item">prometheus</span></a>
                        <div></div>
                    </div>
                    <div id="grafana" class="side block low">
                        <a><span class="item">grafana</span></a>
                        <div></div>
                    </div>
                </div>
                <div class="flex-horizontal">
                    <div id="cloudwatch" class="side block low">
                        <a><span class="item">
                                cloudwatch
                                <img src="{% static 'img/amazon-icon-1.svg' %}" alt="Amazon Logo">
                            </span></a>
                        <div></div>
                    </div>
                    <div id="zabbix" class="side block high">
                        <a><span class="item">zabbix</span></a>
                        <div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="main block">
            <div class="number"><span>9</span></div>
            Cloud Providers
        </div>
        <div class="flex-horizontal">
            <div class="left">
                <div id="heroku" class="side block high">
                    <a><span class="item">heroku</span></a>
                    <div></div>
                </div>
            </div>
            <div class="right">
                <div id="digital-ocean" class="side block low">
                    <a><span class="item">digital ocean</span></a>
                    <div></div>
                </div>
                <div id="aws" class="side block low">
                    <a><span class="item">
                            aws
                            <img src="{% static 'img/amazon-icon-1.svg' %}" alt="Amazon Logo">
                        </span></a>
                    <div></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="posts" style="display:none">
    {% for post in posts %}
    <div>
        <p id="slug">{{post.slug}}</p>
        <p id="name">{{post.knowledge_level.name}}</p>
    </div>
    {% endfor %}
</div>

<script type="module" src="{% static 'js/script.js' %}"></script>
{% if user.is_authenticated %}
<script type="module" src="{% static 'js/admin_actions.js' %}"></script>
{% else %}
<script type="module" src="{% static 'js/actions.js' %}"></script>
{% endif %}
{% endblock %}