#link-to-roadmap {
  display: none;
}

#roadmap {
  text-align: center;
  padding: 20px;
  max-width: 1500px;
  margin: 0 auto;
}
#roadmap .title {
  padding: 12px;
  font-size: 2.2rem;
}
#roadmap .section {
  position: relative;
  margin: 45px 0px;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  opacity: 0;
}
#roadmap .section.active {
  animation: left-to-right 0.3s forwards;
}
#roadmap .block {
  min-width: 50px;
  max-width: 350px;
  border-radius: 4px;
  height: fit-content;
  display: flex;
  flex-flow: row nowrap;
}
#roadmap .main.block {
  color: #333;
  font-size: 2rem;
  margin: 0 auto;
  padding: 4px;
  border-radius: 4px;
}
#roadmap .main.block .number {
  margin-right: 8px;
}
#roadmap .main.block .number span {
  border: 1px solid #333;
  border-radius: 45%;
  padding: 0px 5px;
}
#roadmap .side.block {
  position: relative;
  color: #000;
  font-size: 1.5rem;
  margin: 4px 4px;
}

#roadmap .side.block a {
  padding: 4px 8px;
  color: #000000;
  text-decoration: none;
  font-weight: bold;
  width: 100%;
  cursor: default;
  z-index: 1;
}
#roadmap .side.block a:hover {
  color: #000000;
  text-decoration: none;
}
#roadmap .side.block a:focus {
  outline: none;
}
#roadmap .side.block span {
  padding: 0px 16px;
  cursor: default;
  font-weight: bold;
}
#roadmap .side.linked.block {
  box-shadow: 2px 2px 5px 1px #555;
}
#roadmap .side.linked.block:hover {
  box-shadow: none;
}
#roadmap .side.linked.block a {
  cursor: pointer;
}

#roadmap .section .left {
  top: 0;
  left: 0;
}
#roadmap .section .right {
  top: 0;
  right: 0;
}

#roadmap .item {
  margin: 0 -0.4em;
  padding: 0.1em 0.4em;
  border-radius: 0.8em 0.3em;
  background: transparent;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  height: 20px;
}

#roadmap .high .item {
  background-image: linear-gradient(
    to right,
    #71c43233,
    #71c432dd 4%,
    #71c43244
  );
}

#roadmap .medium .item {
  background-image: linear-gradient(
    to right,
    #ffff0033,
    #ffff00dd 4%,
    #ffff0044
  );
}

#roadmap .low .item {
  background-image: linear-gradient(
    to right,
    #cf0a2c33,
    #cf0a2cdd 4%,
    #cf0a2c44
  );
}

.flex-vertical {
  display: flex;
  flex-flow: column;
  margin: 10px;
  padding: 2px;
  border: 3px dashed #333;
  height: fit-content;
  color: #333;
}
.flex-horizontal {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

@keyframes left-to-right {
  from {
    top: -20px;
    left: -80px;
  }
  to {
    opacity: 1;
    top: 0px;
    left: 0px;
  }
}
