#roadmap .side.block div {
  font-size: 2rem;
  background: #ac35b7aa;
  width: 16px;
  height: 16px;
  position: absolute;
  bottom: -5px;
  right: -9px;
  border-radius: 25%;
  color: white;
  cursor: pointer;
  border: 1px solid #ac35b7dd;
  box-shadow: 2px 2px 0px 0px #ac35b7dd;
}

#roadmap .side.block div:after {
  content: '+';
  position: absolute;
  top: -4px;
  left: 4px;
}

#roadmap .side.block div:hover {
  box-shadow: 0px 0px 0px 0px;
}

#roadmap .side.block.linked div {
  display: none;
}
